- title "Sheets"

%table
  %tr
    %th Semester
    %th Company
    %th Boss
  - for sheet in @sheets
    %tr
      %td= sheet.semester
      %td= sheet.company
      %td= sheet.boss
      %td= link_to 'Show', sheet
      %td= link_to 'Edit', edit_sheet_path(sheet)
      %td= link_to 'Destroy', sheet, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Sheet", new_sheet_path
