- title "Sheets"

%table
  %tr
    %th Semester
    %th Company
    %th Boss
  - for sheet in @sheets
    %tr
      %td= sheet.semester
      %td= sheet.company
      %td= sheet.boss
      %td= link_to 'Show', sheet
      - if can? :update, sheet
        %td= link_to 'Edit', edit_sheet_path(sheet)
      - if can? :destroy, sheet
        %td= link_to 'Destroy', sheet, :confirm => 'Are you sure?', :method => :delete

- if can? :create, Sheet.new
  %p= link_to "New Sheet", new_sheet_path

