- title t('login')

%strong
  Name:
= @user.name
%strong
  email:
= @user.email

= simple_form_for :user, :url => {:controller => 'users', :action => 'create'}, :html => {:id => 'login'} do |f|
  = f.input :matnr
  = f.submit "Login"

