#user_nav
  %ul.controls
    %li.first= link_to "Home", root_url
    - if user_signed_in?
      %li
        = "Hello #{current_user.name}. Not you?"
        = link_to "Logout", {:controller => '/sessions', :action => :destroy, :id => "see_you_later"}, :method => :delete
    - else
      %li
        = link_to_unless_current "Login", new_session_path
    %li= link_to "Search", search_sheets_path
    %li.last About

