- unless params[:with_role].blank?
  - title "#{User.with_role(params[:with_role]).count} #{params[:with_role].titleize.pluralize}"
- else
  - title "#{User.count} Users"

= form_tag admin_users_path, :method => 'get', :id => 'users_search' do
  = text_field_tag :search, params[:search]
  = submit_tag "Search", :name => nil
  %ul{:class => "scope horizontal", :id => 'roles'}
    - User::ROLES.each do |role|
      %li= link_to role.titleize.pluralize, params.merge(:with_role => role)
    %li= link_to 'intern'.titleize.pluralize, params.merge(:with_role => :intern)
    %li= link_to "All", params.merge(:with_role => "")    # or link_to "All" admin_users_path

  #users
    = render 'users'

